.admin__categories {

}

.admin__categories--hidden {
	display: none;
}

.admin__categories__item {
	margin: 5px 0;
	border: 2px solid #777777;
	padding: 5px;
	font-weight: bold;
}

.admin__categories__item > .btn {
	margin-right: 10px;
}

.parameters {
	margin: 20px 0;
	list-style: none;
}

.parameters__item {
	margin: 10px 0;
	cursor: move;
}

.product-editing th {
	width: 20%;
	min-width: 150px;
}

.thumbnail {
	cursor: move;
}

.videos {
	margin: 20px 0;
	list-style: none;
}

.videos__item {
	margin: 10px 0;
}

.mce-btn-group {
	display: inline-block !important;
}

.sales {
	list-style: none;
	margin: 10px;
}

.sales li {
	margin: 10px 0;
}

.sales li:first-child {
	margin-top: 0;
}

.add-sale {
	margin-left: 10px;
}