.products-list {

    &--outer-wrapper {
        @extend %white-block;
        padding: 0 30px 40px;

        .pagination {
            margin-top: 0;
        }
    }

	&--table {
		width: 100%;
		margin-top: 40px;
		border: 1px solid #403F3F;

		tr, th, td {
			border: 1px solid #000;
		}

		th, td {
			padding: 5px;
		}
	}

	&--table__centered {
		text-align: center;
	}

	&--table__right {
		text-align: right;
	}

    @include my-reset-list();

    p {
        margin: 20px 0 0;
        font-size: 14px;
        line-height: 18px;
    }

    &__item {
        padding: 30px 0 25px 210px;
        position: relative;
        min-height: 155px;

        & + & {
            border-top: 1px solid $colorBorder;
        }

		&--simple {
			padding:0;
			min-height: 0;

			.products-list__title {
				color: #ee0301;
			}

			.products-list__price {
				color: #ee0301;
			}
		}
    }

    &__title, &__price {
        margin: 0;
        font-size: $fontSize;
        font-weight: normal;
        line-height: $fontLineHeight;
    }

	&__price {
		position: absolute;
		top: 0;
		right: 0;
	}

    &__img {
        position: absolute;
        top: 30px;
        left: 0;
        width: 155px;
        height: 155px;
        margin: 0;
        line-height: 155px;
        text-align: center;
    }

	&__img--sale {
		width: 70px;
		height: 70px;
		position: absolute;
		left: -24px;
		top: -22px;
	}

	&__img--novelty {
		width: 31px;
		height: 98px;
		position: absolute;
		right: 0;
		top: 0;
	}

    &__code {
        color: #5e5d5d;
        font-size: 12px;
        line-height: 24px;
    }
}
