.btn-ask {
    @include my-sprite-dimensions($spriteMisc, btn_ask);
    display: block;
    position: fixed;
    top: 240px;
    right: 0;
    border: none;
    z-index: 999;
}

.btn-next {
    @extend %btn-next;
}

.btn-red {
    @extend %btn-red;
}
